<ion-router-outlet id="main"></ion-router-outlet>

<!-- Navigation moderne améliorée -->
<div class="fixed bottom-6 left-0 right-0 pointer-events-none flex justify-center z-50">
  <div class="nav-container pointer-events-auto">
    <div class="nav-background"></div>
    <div class="nav-content">
      @for (tab of tabs; track tab) {
        <div
          class="nav-item"
          [class.active]="tab.isActive"
          [routerLink]="tab.url">
          <div class="nav-icon-wrapper">
            <ion-icon [name]="tab.icon" class="nav-icon"></ion-icon>
            @if (tab.isActive) {
              <div class="nav-indicator"></div>
            }
          </div>
          <span class="nav-label">{{ tab.title }}</span>
        </div>
      }
    </div>
  </div>
</div>
