<ion-content>

  <div class="w-full h-full relative">
    <swiper [config]="swiperConfig" (slideChange)="onSlideChange($event)" (swiper)="startSwiper($event)" class="h-full w-full" #introSwiper>
      <ng-template swiperSlide>
        <div class="intro-slide w-full h-full relative fade-in-up">
          <div class="intro-image-container w-full h-1/2 overflow-hidden">
            <div class="relative h-full w-full flex flex-row justify-center">
              <img src="assets/images/shot-screen.jpg" class="absolute w-[260px] -bottom-[120px] rounded-2xl shadow-2xl transform transition-transform duration-500 hover:scale-105">
            </div>
          </div>
          <div class="intro-text w-full p-8 pt-12 text-left">
            <h1 class="intro-title text-4xl font-bold mb-6 leading-tight">
              Streamline your feeds
            </h1>
            <p class="intro-description font-normal text-lg leading-relaxed">
              Keep all your favorite feeds organized in one place with Thud. 
              <br>
              Accessible anytime, anywhere, it simplifies your digital life.
            </p>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="intro-slide w-full h-full relative fade-in-up">
          <div class="intro-image-container w-full h-1/2 overflow-hidden">
            <div class="relative h-full w-full flex flex-row justify-center">
              <img src="assets/images/shot-read.jpg" class="absolute w-[260px] -bottom-[120px] rounded-2xl shadow-2xl transform transition-transform duration-500 hover:scale-105">
            </div>
          </div>
          <div class="intro-text w-full p-8 pt-12 text-left">
            <h1 class="intro-title text-4xl font-bold mb-6 leading-tight">
              Immerse yourself in seamless reading
            </h1>
            <p class="intro-description font-normal text-lg leading-relaxed">
              Customize your reading experience to fit your preferences.
              <br>
              With Thud, enjoy a distraction-free environment while browsing your favorite content.
            </p>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="intro-slide w-full h-full relative fade-in-up">
          <div class="intro-image-container w-full h-1/2 overflow-hidden">
            <div class="relative h-full w-full flex flex-row justify-center">
              <img src="assets/images/shot-discover.jpg" class="absolute w-[260px] -bottom-[120px] rounded-2xl shadow-2xl transform transition-transform duration-500 hover:scale-105">
            </div>
          </div>
          <div class="intro-text w-full p-8 pt-12 text-left">
            <h1 class="intro-title text-4xl font-bold mb-6 leading-tight">
              Explore and expand your content universe
            </h1>
            <p class="intro-description font-normal text-lg leading-relaxed">
              Discover new sources and expand your knowledge horizon effortlessly.
              <br>
              Finding and adding your favorite content has never been easier, making it simple to curate your digital world.
            </p>
          </div>
        </div>
      </ng-template>
    </swiper>


    <div class="absolute bottom-5 w-full h-12 flex items-start px-6">
      <div class="h-fit w-2/5 flex items-start">
        @if (currentSlide !== 2) {
          <ion-button color="medium" fill="clear" class="modern-button-outline" (click)="finish()">
            <span class="normal-case font-medium">Skip</span>
          </ion-button>
        }
      </div>
      <div class="h-full w-1/5 flex items-start justify-center">
        <div class="w-fit flex flex-row mt-2">
          @for (item of [1,2,3]; track item; let i = $index) {
            <div [ngClass]="{'paginator-active': currentSlide === i}"
            class="w-2 h-2 rounded-full bg-slate-400 mx-1 transition-all duration-300"></div>
          }
        </div>
      </div>
      <div class="h-fit w-2/5 flex items-start justify-end">
        @if (currentSlide !== 2) {
          <ion-button color="primary" fill="solid" class="finish-button" (click)="nextSlide()">
            <span class="normal-case font-medium">Next</span>
          </ion-button>
        }
        @if (currentSlide === 2) {
          <ion-button color="primary" fill="solid" class="finish-button pulse-animation" (click)="finish()">
            <span class="normal-case font-medium">Get started</span>
          </ion-button>
        }
      </div>
    </div>

  </div>

</ion-content>
